<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<!-- DataSource Definition -->
	<bean id="postgressDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url"
			value="jdbc:postgresql://vm-trac-test:5432/all_projects" />
		<property name="username" value="tracuser" />
		<property name="password" value="tracuser" />
		<property name="defaultAutoCommit" value="true" />
		<property name="defaultTransactionIsolation" value="2" />
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg>
			<ref bean="postgressDataSource" />
		</constructor-arg>
	</bean>
	<bean id="tracService" class="com.bssys.service.TracServiceImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>

</beans>
